/*************************** Standard HTML Elements ***************************/
a {
  color: #009ADB;
}
a:hover {
  color: #000000;
  cursor: pointer;
}
body {
  margin: 0px;
}
h3 {
  color: #1B449E;
  margin-bottom: 10px;
}
h3:visited {
  color: #eeeeee;
}
html {
  background: #efefef;
  font-family: Trebuchet MS, Arial, sans-serif;
}
pre {
  background: #efefef;
  border: 1px solid #aaaaaa;
  font-family: Consolas, monospace;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  overflow-x: auto;
}
td, tr {
  vertical-align: top;
}
ul {
  margin-top: 0px;
}

/***************************** Main HTML Elements *****************************/

#container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
#contents {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 99998;
}
#graded {
  background: #96D2FA;
  bottom: 0;
  display: inline-block;
  left: 0px;
  overflow: hidden;
  position: absolute;
  right: 557px;
  top: 35px;
}
#hide-raw {
  background: #FFCC33;
  bottom: 0px;
  box-shadow: 2px 2px 1px #CCCCCC;
  float: right;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 20px;
  z-index: 99999;
}
#hide-raw:hover {
  bottom: 2px;
  cursor: pointer;
}
#iframes {
  display: block;
}
#iframe-graded {
  background: white;
  border: 0px;
  height: 100%;
  width: 100%;
}
#iframe-raw {
  background: white;
  border: 0px;
  height: 100%;
  overflow: auto;
  width: 100%;
}                
#list {
  background: black;
  border-right: 2px solid #444444;
  color: white;
  float: left;
  height: 100%;
  overflow: auto;
  min-width: 130px;
  z-index: 99999;
}
#list-inner {
  padding: 10px;
  padding-right: 15px;
  z-index: 99999;
}
#name {
  color: white;
  display: inline;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
}
#raw {
  background: #96D2FA;
  border-left: 2px solid #AAAAAA;
  bottom: 0;
  float: right;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 35px;
  width: 555px;
}
#show-raw {
  background: #FFCC33;
  bottom: 0px;
  box-shadow: 2px 2px 1px #CCCCCC;
  float: right;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 20px;
  z-index: 99999;
}
#show-raw:hover {
  bottom: 2px;
  cursor: pointer;
}
#students {
  display: block;
  font-size: 22px;
}
#title {
  background: #1D578B;
  box-shadow: 0px 2px 5px #CCCCCC;
  display: block;
  height: 35px;
  position: relative;
  z-index: 99997;
}
#title-inner {
  padding: 6px;
}

/*********************************** Others ***********************************/

.borderless {
  vertical-align: top;
}
.comment {
  background: #efefef;
  border: 1px solid #aaaaaa;
  font-family: Consolas, monospace;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}
.failed {
  color: red;
  display: inline;
  font-weight: bold;
}
.iframe-container {
  position: relative;
  overflow-y: hidden;
}
.label {
  border-bottom: 3px solid #DDDDDD;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 14px;
  padding: 4px;
  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
}
.label-active {
  border-bottom: 3px solid red;
  font-weight: bold;
}
.label:hover {
  border-bottom: 3px solid red;
  font-weight: bold;
}
.name {
  display: inline;
  font-size: 18px;
  padding: 5px;
}
.passed {
  color: green;
  display: inline;
  font-weight: bold;
}
.results {
  background: #fefefe;
  border: 1px solid #cccccc;
  font-family: Consolas, monospace;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  overflow-x: auto;
}
.sql {
  background: #efefef;
  border: 1px solid #aaaaaa;
  font-family: Consolas, monospace;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}
.student-link {
  color: white;
}
.student-link:hover {
  color: #96D2FA;
}
.student-page {
  background: white;
  padding: 8px;
}
.test-specs {
  background: #efefef;
  border: 1px solid #AAAAAA;
  font-family: Consolas, monospace;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}
.toast {
  background: #cccccc;
  box-shadow: 2px 2px 1px #aaaaaa;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 20px;
  z-index: 99999;
}
.uncertain {
  color: orange;
  display: inline;
  font-weight: bold;
}
